{% load static %}

<link rel="stylesheet" href="{% static 'inscription/style.css' %}">
</br>
<h1>Accueil Secrétaire</h1>
<br/>
<p>Je souhaite garantir la sécurité des données en <a href="{% url 'inscription:change_password' %}">changeant mon mot de passe</a> !</p>
<p>Je souhaite <a href="{% url 'inscription:inscription_form' %}">inscrire un nouvel adhérent</a> !</p>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <div {% if message.tags %} style="text-align: center; color: red; font-weight: bold;" class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
  </ul>
{% endif %}