{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'inscription/style.css' %}">
</br>
</br>
  <h1>Changez votre mot de passe</h1>
</br>
  <form method="post" action="{% url 'inscription:change_password' %}">
  {% csrf_token %}
    <div class="form-group">
      <label for="old_password">Mot de passe actuel :</label>
      <input type="password" class="form-control" id="old_password" name="old_password" required>
    </div>
    <div class="form-group">
      <label for="new_password1">Nouveau mot de passe :</label>
      <input type="password" class="form-control" id="new_password1" name="new_password1" required>
    </div>
    <div class="form-group">
      <label for="new_password2">Confirmez le nouveau mot de passe :</label>
      <input type="password" class="form-control" id="new_password2" name="new_password2" required>
    </div>
  </br>
  </br>
    <center><button type="submit" class="btn btn-primary" style="text-align:center;word-break: break-all; box-sizing: border-box; text-align:center; display: inline-block;padding-left: 30px; padding-right: 30px;padding-top: 20px; padding-bottom: 20px;background-color:rgb(80, 53, 130); border: rgba(0, 0, 0, 0) solid 0px; border-radius: 2px;font-family :Helvetica, Arial, sans-serif; font-size: 14px;color: rgb(255, 255, 255); line-height: 1; letter-spacing:1pxpx;">Modifier le mot de passe</button></center>
  </form>
</br>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <div {% if message.tags %} style="text-align: center; color: red; font-weight: bold;" class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}

