{% load static %}

<link rel="stylesheet" href="{% static 'inscription/style.css' %}">

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Test formulaire</title>
        <br/>
        <br/>
        <div class="formbox-title_WAM32"><p style="background: #9dcff2;text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(80, 53, 130); font-size: 48px;" data-mce-style="color: #503582; font-size: 48px;"><strong><span style="font-family: Arial, Helvetica, sans-serif;" data-mce-style="font-family: Arial, Helvetica, sans-serif;">Formulaire d’inscription</span></strong></span></p><p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 16px;" data-mce-style="font-size: 16px;"><em><span style="color: rgb(80, 53, 130);" data-mce-style="color: #503582;"><strong><span style="font-family: Arial, Helvetica, sans-serif;" data-mce-style="font-family: Arial, Helvetica, sans-serif;">Complétez chacun des champs ci-dessous</span></strong></span></em></span></p></div>
        <div class="formbox-field_WAM32" style="text-align: center; padding: 0px 40px;"><img src="https://images.benchmarkemail.com/client1514081/image13204250.png"  style ="max-width: 50%;"></div>
        <div class="formbox-editor_WAM32" style="background: #9dcff2; height : auto;"><div id="formbox_screen_subscribe_WAM32" style="display:block;" name="frmLB_WAM32">
        <br/>
        <br/>
    </head>
    <body>
        <form action="{% url 'inscription:inscription_form' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <label>Date naissance:</label> 
            <input type="date" id="date_naissance" name="date_naissance" required="">
            <label>Date certificat:</label> 
            <input type="date" id="date_certificat" name="date_certificat" required="">
            <br/>
            <div><input type="checkbox" id="politiquedeconfidentialite" name"politiquedeconfidentialite" required="">
            <label for="politiquedeconfidentialite" style="font-size:20px;margin: -25px 35% 0;">En cochant cette case, j'ai lu et accepté la <a href="{% url 'inscription:politique_confidentialite' %}">politique de confidentialité</a> de ce site.</span></label></div>
            <div><input type="checkbox" id="promos" name"promos">
            <label for="promos" style="font-size:20px;margin: -25px 35% 0;">J'accepte de recevoir des e-mails promotionnels provenant de LyonPalme.</label></div>
            <br/>
            <br/>
            <center><input type="submit" value="S'inscrire" style="text-align:center;word-break: break-all; box-sizing: border-box; text-align:center; display: inline-block;padding-left: 30px; padding-right: 30px;padding-top: 20px; padding-bottom: 20px;background-color:rgb(80, 53, 130); border: rgba(0, 0, 0, 0) solid 0px; border-radius: 2px;font-family :Helvetica, Arial, sans-serif; font-size: 14px;color: rgb(255, 255, 255); line-height: 1; letter-spacing:1pxpx;"></center>
        </form>
        {{erreur_mail}}
        {{erreur_tel}}
        {{erreur_cp}}
        {{reussi}}
        <br/>
    </body>
</html>